$portfolios-main-background: black;
$portfolios-book-background: #323232;
$portfolios-portfolio-background: #1B1B1B;
$portfolios-border-color: #464646;
$portfolios-name-color: #0D7AFF;
$portfolios-values-color: white;
$portfolios-neutral-indicator-color: black;
$portfolios-positive-indicator-color: green;
$portfolios-negative-indicator-color: red;

$counterparts-background: #1B1B1B;
$counterparts-border-color: #464646;
$counterparts-name-color: #0D7AFF;
$counterparts-label-color: gray;
$counterparts-values-color: white;
$counterparts-neutral-indicator-color: gray;
$counterparts-positive-indicator-color: green;
$counterparts-negative-indicator-color: red;

$btn-group-background-color: #1B1B1B;