$form-field-background-color: lighten($window-h-color, 10%);
$form-field-invalid-background-color: $decline-color;

$form-field-border-color: $base-color;
$form-field-focus-border-color: $highlight-color2;

$form-checkbox-glyph-focus-color: $highlight-color;
$fieldset-border-color: $background-color;