$tree_arrow_expanded_glyph_color: $text-color;
$tree_arrow_glyph_color: $text-color;
$tree_collapse_glyph_color: $text-color;
$tree_expand_glyph_color: $text-color;
$tree_glyph_color: $text-color;
$tree_leaf_glyph_color: $text-color;
$treelist_item_color: $text-color;
$tree-glyph-color: $text-color;

