///////////////////// GLOBAL SENCHA VARS
//Configuring these changes overall view

$base-color: #e8ecf2; //gray-blue highlight
$body-background-color: #fff; //white
$color: #323232; //dark color for text

///////////////////// COLORS

$background-color: $body-background-color; //dark gray;
$window-color: #f2f2f2; //almost white
$window-h-color: #f4f4f4; //white/gray;
$border-color: #d2d7de;
$white: #fff;

$text-color: $color; //light gray

$confirmation-color: #39ce00; //green
$decline-color: #e80000; //red

$highlight-color: #cdf2c2; //light green
$highlight-color2: #a0d690; //darker green
$highlight-color3: $base-color; //basecol
$highlight-color4: #a6b2c2; //dark blue gray