/*$base-color: #1B1B1B !default;

$panel-body-background-color: #000 !default;
$panel-header-background-color: #272727 !default;
$panel-border-color: #404040 !default;
$panel-body-color: #272727 !default;
$panel-frame-border-radius: 0px;
//$panel-header-padding: 5px !default;
$panel-header-color: #808080 !default;


$tab-color: gray !default;
$tab-base-color: #272727 !default;
$tab-base-color-active: #1B1B1B !default;
$tab-border-color: #404040 !default;*/

$accordion-header-background-color:  #1b1b1b !default;

$grid-row-cell-background-color: #1b1b1b !default;
$grid-row-cell-color: #fff !default;
//$grid-row-cell-selected-color: #1b1b1b !default;
$grid-row-cell-focus-color: #1b1b1b !default;

$grid-row-cell-border-color: #404040 !default;
/*$grid-row-cell-selected-background-color: #272727 !default;*/


$panel-body-background-color: #000 !default;
$panel-header-background-color: #272727 !default;
$panel-border-color: #404040 !default;
$panel-body-color: #272727 !default;
$panel-header-color: #808080 !default;


$panel-frame-border-radius: 0px;
$panel-header-padding: 5px !default;

$grid-header-background-color: #1B1B1B !default;
$grid-column-header-focus-background-color: #1B1B1B !default;
$grid-header-over-background-color: #1B1B1B !default;

$tab-color: gray !default;
$tab-base-color: #272727 !default;
$tab-base-color-active: #1B1B1B !default;
$tab-border-color: #404040 !default;

$tabbar-base-color: #000 !default;
$tabbar-padding: 1px;

$tab-margin: 0 0 0 0px !default; //space between tabs
$tab-frame-border-radius: 0px;

$ui-header-background-color: #272727 !default;
$ui-border-color: #272727 !default;
$window-border-color: #272727 !default;

$base-color: #1B1B1B !default;
$border-radius: 0px;
$ui-border-radius: 0px;
$button-small-border-radius: 0px;
$scroll-indicator-margin: 10px;

$body-background-color: #000 !default;

$window-background-color: #1B1B1B !default; //?
$window-body-background-color: #000 !default; //?
$window-header-background-color: #1B1B1B !default;
$window-body-color: gray !default;

$toolbar-footer-background-color: #1B1B1B !default;

$window-header-background-color: #272727 !default;
$ui-header-background-color: #272727 !default;

$fieldset-header-color: gray !default;

$textfield-color: white;
$textfield-background-color: #1B1B1B;
$textfield-border-color: #464646; 

$portfolios-main-background: black;
$portfolios-book-background: #323232;
$portfolios-portfolio-background: #1B1B1B;
$portfolios-border-color: #464646;
$portfolios-name-color: #0D7AFF;
$portfolios-values-color: white;
$portfolios-neutral-indicator-color: black;
$portfolios-positive-indicator-color: green;
$portfolios-negative-indicator-color: red;

$include-pictos-font: true;
$include-default-icons: true;

$counterparts-background: #1B1B1B;
$counterparts-border-color: #464646;
$counterparts-name-color: #0D7AFF;
$counterparts-label-color: gray;
$counterparts-values-color: white;
$counterparts-neutral-indicator-color: gray;
$counterparts-positive-indicator-color: green;
$counterparts-negative-indicator-color: red;


$toolbar-background-color: #1B1B1B;
$button-toolbar-background-color: #464646;
$button-toolbar-border-color: #808080;
$button-toolbar-color: white;


$toolbar-text-color: white;
$menu-background-color: #1B1B1B;
$menu-text-color: white;
$menu-border-color: gray;


$btn-group-background-color: #1B1B1B; 