$form-field-border-width: 1px;
$form-field-border-style: solid;
$html-editor-border-color: transparent;

$form-field-height: 22px;

$spinner_toolbar_trigger_down_glyph: "\f0d7" 12px FontAwesome;
$spinner_toolbar_trigger_up_glyph: "\f0d8" 12px FontAwesome;
$spinner_trigger_down_glyph: "\f0d7" 12px FontAwesome;
$spinner_trigger_up_glyph: "\f0d8" 12px FontAwesome;

$fieldset_header_font_size: 8px;
$fieldset_padding: 0px;