@include extjs-button-small-ui(
	$ui: 'round',

	$font-size: 9px,
	$padding: 1px
);

@include extjs-button-toolbar-small-ui(
	$ui: 'round',

	$font-size: 9px,
	$padding: 1px
);


@include extjs-button-medium-ui(
	$ui: 'round',

	$font-size: 9px,
	$font-weight: bold,
	$padding: 2px
);

@include extjs-button-toolbar-medium-ui(
	$ui: 'round',

	$font-size: 10px,
	$font-weight: bold,
	$padding: 2px
);

@include extjs-button-large-ui(
	$ui: 'round',

	$font-size: 12px,
	$font-weight: bold,
	$padding: 4px
);

@include extjs-button-toolbar-large-ui(
	$ui: 'round',

	$font-size: 12px,
	$font-weight: bold,
	$padding: 4px
);

@include extjs-button-small-ui(
	$ui: 'gray',

	$font-size: 9px,
	$padding: 1px
);

@include extjs-button-toolbar-small-ui(
	$ui: 'gray',

	$font-size: 9px,
	$padding: 1px
);

@include extjs-button-medium-ui(
	$ui: 'gray',

	$font-size: 10px,
	$font-weight: bold,
	$padding: 2px
);

@include extjs-button-toolbar-medium-ui(
	$ui: 'gray',

	$font-size: 10px,
	$font-weight: bold,
	$padding: 2px
);

@include extjs-button-large-ui(
	$ui: 'gray',

	$font-size: 12px,
	$font-weight: bold,
	$padding: 4px
);

@include extjs-button-toolbar-large-ui(
	$ui: 'gray',

	$font-size: 12px,
	$font-weight: bold,
	$padding: 4px
);

.x-btn-roundorange-large,
.x-btn-roundorange-medium,
.x-btn-roundorange-small,
.x-btn-gray-toolbar-small,
.x-btn-gray-toolbar-medium,
.x-btn-gray-toolbar-large,
.x-btn-gray-small,
.x-btn-gray-medium,
.x-btn-gray-large,
.x-btn-round-large,
.x-btn-round-medium,
.x-btn-round-small {
	-ms-border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px !important;
	text-transform: uppercase;	
}

.x-btn-gray-toolbar-small,
.x-btn-gray-toolbar-medium,
.x-btn-gray-toolbar-large,
.x-btn-gray-large,
.x-btn-gray-medium,
.x-btn-gray-small {
	&:hover {
	  -webkit-transition: border-color 2s ease-out;
	  -moz-transition: border-color 2s ease-out;
	  -o-transition: border-color 2s ease-out;
	  transition: border-color 2s ease-out;
	}
}

.x-btn-roundorange-large,
.x-btn-roundorange-medium,
.x-btn-roundorange-small,
.x-btn-round-large,
.x-btn-round-medium,
.x-btn-round-small {
	&:hover {
	  -webkit-transition: background-color 2s ease-out;
	  -moz-transition: background-color 2s ease-out;
	  -o-transition: background-color 2s ease-out;
	  transition: background-color 2s ease-out;
	}
}