$include-pictos-font: true;
$include-default-icons: true;

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  background-color: #666;
}

::-webkit-scrollbar-track {
  background-color: #666;
}

::-webkit-scrollbar-track-piece {
  background-color: #666;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #121212;
  border-radius: 0px;
}

::-webkit-scrollbar-corner {
  background-color: #666;
}

::-webkit-resizer {
  background-color: #666;
}

body {
  scrollbar-base-color: #121212;
}
