$tree_arrow_expanded_glyph_color: $highlight-color;
$tree_arrow_glyph_color: $highlight-color;
$tree_collapse_glyph_color: $highlight-color;
$tree_expand_glyph_color: $highlight-color;
$tree_glyph_color: $highlight-color;
$tree_leaf_glyph_color: $highlight-color;
$treelist_item_color: $highlight-color;