$grid-header-background-color: $window-h-color;
$grid-header-over-background-color: $highlight-color3;
$grid-header-border-color: $background-color;
$grid-header-color: $text-color;

$grid-grouped-header-background-color: $highlight-color4;
$grid-grouped-title-color: $text-color;
$grid-grouped-title-glyph-color: $text-color;

$grid-row-cell-background-color : $body-background-color;
$grid-row-cell-alt-background-color: darken($body-background-color, 2%);
$grid-row-cell-border-color: $highlight-color;
$grid-row-cell-color : $text-color;

$grid-row-cell-over-background-color: $highlight-color4;
$grid-row-cell-over-color : $text-color;

$grid-row-cell-selected-background-color : $highlight-color4;
$grid-row-cell-selected-color : $text-color;
$grid-row-cell-focus-color : $text-color;
