$button-default-color: $border-color;

$button-toolbar-background-gradient: 'none';
$button-toolbar-background-gradient-over: 'none';
$button-toolbar-background-gradient-pressed: 'none';
$button-toolbar-inner-border-width-focus: 0;

$button-small-font-size: 9px;
$button-medium-font-size: 11px;
$button-large-font-size: 13px;

$button-small-padding: 1px;
$button-medium-padding: 2px;
$button-large-padding: 3px;
