@include extjs-panel-ui(
    $ui: 'highlight-framed',
    $ui-header-background-color: red,
    $ui-border-color: red,
    $ui-header-border-color: red,
    $ui-body-border-color: red,
    $ui-border-width: 5px,
    $ui-border-radius: 5px
);

.cell-value-positive-diff, .cell-value-positive-sign { color: green; }
.cell-value-negative-diff, .cell-value-negative-sign { color: red; }
.cell-value-yesterday-close { color: #0D7AFF; }
.cell-value-positive-diff-blink, .cell-value-positive-sign-blink { background-color: green; color: white; }
.cell-value-negative-diff-blink, .cell-value-negative-sign-blink { background-color: red; color: white; }
.cell-value-yesterday-close-blink { background-color: #0D7AFF; color: white; }
.cell-value-neutral-blink { background-color: white; color: black; }

.portfolios-tree-panel .x-grid-item-container { width: 100% !important; }
.portfolios-tree-panel .x-tree-elbow-img { height: 40px; background-color: $portfolios-main-background; width: 15px; display: block; float: left; margin: 0; padding: 0; }
.portfolios-tree-panel .x-grid-item { background-color: transparent; width: 100% !important; }
.portfolios-tree-panel .x-grid-cell-inner { padding: 0; }
.portfolios-tree-panel span { display: block; padding: 0; }

.portfolios-tree-book { height: 40px; background-color: $portfolios-book-background; border-top: 1px solid $portfolios-border-color; border-bottom: 0px solid $portfolios-border-color; }
.portfolios-tree-portfolio { height: 40px; background-color: $portfolios-portfolio-background; border-top: 1px solid $portfolios-border-color; border-bottom: 0px solid $portfolios-border-color; }

.portfolios-tree-name { color: $portfolios-name-color; font-weight: bold; white-space: nowrap; float: left; padding: 2px; }
.portfolios-tree-mtm { color: $portfolios-values-color; text-align: right; padding: 2px; }
.portfolios-tree-share, .portfolios-tree-var { color: $portfolios-values-color; text-align: left; white-space: nowrap; float: left; padding: 2px; }
.portfolios-tree-change { color: $portfolios-values-color; text-align: right; padding: 2px; }
.portfolios-tree-neutral { border: 0; margin: 0; border-right: 4px solid $portfolios-neutral-indicator-color; margin-right: 4px; padding-right: 4px; }
.portfolios-tree-positive { border: 0; margin: 0; border-right: 4px solid $portfolios-positive-indicator-color; margin-right: 4px; padding-right: 4px; }
.portfolios-tree-negative { border: 0; margin: 0; border-right: 4px solid $portfolios-negative-indicator-color; margin-right: 4px; padding-right: 4px; }
.portfolios-tree-change.portfolios-tree-positive { color: $portfolios-positive-indicator-color; }
.portfolios-tree-change.portfolios-tree-negative { color: $portfolios-negative-indicator-color; }

.icon-menu { background-image: url('/resources/images/menu.png') !important; }
.icon-search { background-image: url('/resources/images/search.png') !important; }
span, label { color: gray; }
.x-form-field.x-form-text { background-color: $textfield-background-color !important; color: $textfield-color !important; }
.x-form-trigger-wrap-default { border-color: $textfield-border-color !important; }

.counterparts-grid-panel .x-grid-item-container { width: 100% !important; }
.counterparts-grid-panel .x-grid-item { width: 100%; background-color: $counterparts-background; }
.counterparts-grid-panel .x-grid-cell-inner { padding: 0; }
.counterparts-grid-panel span { display: block; padding: 0; }
.counterparts-grid-panel ol { padding: 0; margin: 0; }

.counterparts-name { color: $counterparts-name-color; list-style: none; margin-left: 5px; }
.counterparts-mtm { text-align: center; list-style: none; margin-left: 5px; }
.counterparts-label { color: $counterparts-label-color; float: left}
.counterparts-mtm-value { color: $counterparts-values-color; font-size: 13px; font-weight: bold; }
.counterparts-change { width: 100%; margin-left: 5px; }
.counterparts-chgpct { display: inline-block; float: left }
.counterparts-chg { display: inline-block; float: right; margin-right: 10px; }
.counterparts-chg-neutral { color: $counterparts-neutral-indicator-color; }
.counterparts-chg-positive { color: $counterparts-positive-indicator-color; }
.counterparts-chg-negative { color: $counterparts-negative-indicator-color; }
.counterparts-values { list-style: none; }
.counterparts-deltav { color: $counterparts-values-color; list-style: none; }
.counterparts-var { color: $counterparts-values-color; }
.counterparts-cvar { color: $counterparts-values-color; }

.multiviewIcon { background-image: url('images/Report_16x16.ico') !important; }
.chartsplitIcon { background-image: url('images/horizontal_line_16x16.ico') !important; }
.timeseriesIcon { background-image: url('images/HistoricalCurve_16x16.ico') !important; }
.forecastIcon { background-image: url('images/ForecastCurve_16x16.ico') !important; }
.derivedIcon { background-image: url('images/DerivedCurve_16x16.ico') !important; }
.functionIcon { background-image: url('images/Function_16x16.ico') !important; }
.errorIcon { background-image: url('images/shared/icon-error.png') !important; background-size: 100%; }




.whiteHead {
   font-weight: bold;
}
