$accordion_padding: 8px;
$accordion_header_padding: 2px 5px;
$accordion_tool_glyph_font_size: 12px;
$accordion_header_tool_size: 16px;
$accordion_tool_collapse_glyph: "\f068" 12px FontAwesome;
$accordion_tool_expand_glyph: "\f067" 12px FontAwesome;

$enable-font-smoothing: true;

$panel-header-padding: 2px 12px;
$panel-header-font-size: 11px;
$panel-header-font-weight: 600;
$panel-header-font-weight: 700;
$panel-frame-padding: 10px;

$menu_item_height: 22px;

$progress_height: 12px;

$toolbar-border-width: 0;
$toolbar-font-size: 11px;
$toolbar-horizontal-spacing: 2px;
$toolbar-vertical-spacing: 1px;

$css-shadow-border-radius: 20px;

$font-family: Montserrat, Helvetica , arial , verdana , sans-serif;
$font-size: 10px;